/*REM*/
html{
    font-size: 100px; /*750中一个rem=100px*/
}
.main-kappa{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.kappa-head{
    position: absolute;
    top: 1rem;
    left: 2.6rem;
}
.kappa-brand{
	position: absolute;
    top: 3.5rem;
    left: 2.6rem;
}
.kappa-headline{
	position: absolute;
    top: 6rem;
    left: 2.6rem;
}
.kappa-name{
	position: absolute;
    top: 8rem;
    left: 2.6rem;
}
.kappa-name input[type='text'] {
	outline: none;
	width: 4.5rem;
	height: 0.3rem;
	line-height: 0.3rem;
	text-indent: 0.1rem;
	font-size: 0.18rem;
	border-color: #000;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	display: block;
	margin: 0 auto;
}
.kappa-name input[type='text']:focus{
	outline: none;
}


.kappa-phone{
	position: absolute;
    top: 9.2rem;
    left: 2.6rem;
}
.kappa-phone input[type='text'] {
	border-color: #878787; 
	border-style: solid; 
	border-top-width: 0px;
	border-right-width: 0px; 
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size: 0.35rem;
	width: 4.5rem;
}
.kappa-city{
	position: absolute;
    top: 10.5rem;
    left: 2.6rem;
}
.kappa-city input[type='text'] {
	border-color: #878787; 
	border-style: solid; 
	border-top-width: 0px;
	border-right-width: 0px; 
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size: 0.35rem;
	width: 4.5rem;
}
.kappa-btn{
	position: absolute;
    top: 12.5rem;
    left: 2.6rem;
}
.kappa-btn button {
    display: inline-block;
    border: 0;
    outline: none;
    background-color: transparent;
}
.kappa-foot{
	position: absolute;
    top: 15.5rem;
    left: 2.6rem;
}
.kappa-left{
	position: absolute;
    top: 6.05rem;
    left: 0;
}
